.idea/
.vscode/
module*/ex*/obj/

module00/ex00/megaphone
module00/ex01/phonebook
module00/ex02/bank

module01/ex00/zombie
module01/ex01/horde
module01/ex02/brain
module01/ex03/violence
module01/ex04/sed
module01/ex04/*.replace
module01/ex05/harl
module01/ex06/harlFilter

module02/ex00/fixed
module02/ex01/fixed
module02/ex02/fixed
module02/ex03/bsp

module03/ex00/clap
module03/ex01/scav
module03/ex02/frag
module03/ex03/diamond

module04/ex00/bestiary
module04/ex01/bestiary
module04/ex02/bestiary
module04/ex03/materia

module05/ex00/bureaucrat
module05/ex01/form
module05/ex02/forms
module05/ex02/home_shrubbery
module05/ex03/intern
module05/ex03/home_shrubbery

module06/ex00/convert
module06/ex01/serialize
module06/ex02/type
